<table border="1" cellpadding="3" style="border-collapse: collapse; width: 100%">
    <thead>
        <tr>
            <th>File name</th>
            <th>File size (KB)</th>
            <th>File type</th>
        </tr>
    </thead>
    <tbody id="fileList">
    	<% include files %>
    </tbody>
</table>