<!DOCTYPE html>
<html>
  <head>
    <% include common/header %>
    <script src="/js/peer.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <% include common/files_table %>
  </body>
</html>