<!DOCTYPE html>
<html>
<head>
    <% include common/header %>
    <script src="/js/seeder.js"></script>
</head>
<body>
    <h2>Your personal client URL: <a id="personalUrl" class="hidden"></a><i id="connectingMsg">[ connecting... ]</i></h2>
    <input type="file" id="file" multiple />
    <% include common/files_table %>
</body>
</html>