<table id="fileTable">
    <thead>
        <tr>
            <th>File name</th>
            <th>File size (KB)</th>
            <th>File type</th>
        </tr>
    </thead>
    <tbody id="fileList">
    	<% include ../public/files %>
    </tbody>
</table>