<title><%= title %></title>
<link rel='stylesheet' href='/css/style.css' />
<script src="/socket.io/socket.io.js"></script>
<script src="/js/helper.js"></script>
<script src="/js/ejs_production.js"></script>